.page-wrap{
	 background-image:url('../img/main/hotel-lobby.jpg');
	background-size: cover;
	background-color: #000000;
}

.mainbox{
	background-color: rgba(132, 240, 230, 0.3);
	border-style: solid;
	border-color:#D3d3d3;
	border-radius: 1px;
	border-width: 1px;
	height:100%;
	color:#FEFEFE;
}

.mainbox > div{
	padding:10px;
}

.header-info{
	font-size:25px;

}

.form-input > div > input, .form-input >  div > input{

	background: transparent;
	color:#D3d3d3;
	border-style: solid;
	border-width: 1px;
	border-radius: #FFFFFF;
	padding:5px;width: 60%;
}


.form-input > div {
	padding:10px;
}

.form-input > div > .address > input{
	width:50%;
	margin-left: 10px;
}

.submit-btn{
	padding:20px;
}

.label-form{
	font-size: 23px;
}

input[type="radio"]{
	margin-left:20px;
}